* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

/* TODO! collapse hero and header together*/
.header {
	display: flex;
	background-color: #1f2937;
	padding: 8px;
}

.header p {
	flex: auto;
	color: #f9faf8;
	font-size: 24px;
	margin-left: 100px;
}

.header-links {
	display: flex;
	gap: 16px;
	margin-right: 100px;
	list-style: none;
}

.header-links li {
	flex: auto;
}

.hero {
	display: flex;
	background-color: #1f2937;
	gap: 32px;
	justify-content: center;
	padding-bottom: 80px;
}

.hero-content {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 150px;
}

.hero-content h1 {
	color: #f9faf8;
	font-size: 48px;
}

.hero img {
	width: 600px;
	height: 150px;
}

.hero-content p, a {
	font-size: 18px;
	color: #e5e7eb;
}

.hero-content button {
	max-width: 80px;
}

.random-info {
	display: flex;
}

.info-1, .info-2, .info-3, .info-4 {
	display: flex;
}

.quote {
	display: flex;
}

.sign-up {
	display: flex;
}

.footer {
	display: flex;
}
