* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	padding: 8px;
}

.header img {
	flex: auto;
	margin-left: 100px;
}

.header-links {
	display: flex;
	gap: 16px;
	margin-right: 100px;
	list-style: none;
}

.header-links li {
	flex: auto;
}

.hero {
	display: flex;
	gap: 32px;
	justify-content: center;
}

.hero-content {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}

.hero-content button {
	max-width: 80px;
}

.hero img {
	max-width: 600px;
}

.random-info {
	display: flex;
}

.info-1, .info-2, .info-3, .info-4 {
	display: flex;
}

.quote {
	display: flex;
}

.sign-up {
	display: flex;
}

.footer {
	display: flex;
}
